#bm-promo {
  padding: 3rem 0;
}
#bm-ahorro {
  padding: 3rem 0;
}
#bm-pasos {
  padding: 3rem 0;
}
#bm-productos {
  padding: 4rem 0;
  margin-top: 3rem; /* Puede afectar color de seccion superior */
  background-color: var(--color-section-grey);
}
#bm-gestion {
  padding: 2rem 0;
  margin-top: 3rem;
}
#bm-gestion .btn-navy-main {
  font-size: 1.3rem;
}
#bm-tarjetas {
  padding: 2rem 0;
  margin-top: 3rem;
}

/* SLIDER PROMOCIONES */
.wrapper-cards-center {
  display: flex;
  justify-content: center;
}
.wrapper-cards-evenly {
  display: flex;
  justify-content: space-evenly;
}
.wrapper-cards-between {
  display: flex;
  justify-content: space-between;
}

/* CARDS SMALL HEAD - BODY - FOOTER */
.bm-card-sm {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100%;
  min-height: 203px;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 6px 10px 4px #7a7a7a26;
  background-color: var(--color-white);
}
.bm-card-sm_header {
  border-radius: 12px 12px 0px 0px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.bm-card-sm_header h5 {
  font-size: 24px;
  margin: 0 0 0 16px;
  font-weight: 600;
  color: var(--color-blue-main-x);
}
.bm-card-sm_body p {
  margin: 0;
}
/* SLIDER ACTIVO CARD SMALL */
.convert-slider .bm-card-sm {
  margin: 0.5rem 2rem 1rem 2rem;
}

/* CARDS MEDIUM HEAD - BODY - FOOTER */
.bm-card-md {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100%;
  min-height: 250px;
  text-align: center;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 6px 10px 4px #7a7a7a26;
}
.bm-card-md h5 {
  font-size: 24px;
  padding-bottom: 16px;
}
.bm-card-md span {
  font-size: 40px;
  font-weight: 700;
}
.bm-card-md_header {
  border-radius: 12px 12px 0px 0px;
}
.bm-card-md_header,
.bm-card-md_body {
  padding: 12px 12px 0px 12px;
  flex-grow: 1;
}
.bm-card-md_body a {
  margin-bottom: 24px;
}
.bm-card-md_footer {
  flex-grow: 1;
  min-height: 66px;
  max-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: var(--color-navy-main);
  color: #fff;
  border-radius: 0px 0px 12px 12px;
}
.bm-card-md_footer span img {
  padding: 0.5rem;
}
.bm-card-md_footer span {
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: start;
}
/* SLIDER ACTIVO - CARD MEDIUM */
.convert-slider .bm-card-md {
  margin: 0.5rem 2rem 1rem 2rem;
  display: flex !important;
}

/* CARDS LARGE HEAD - BODY - FOOTER */
.bm-card-lg {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  min-height: 180px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 6px 10px 4px #7a7a7a26;
}
.bm-card-lg h5 {
  font-size: 20px;
  padding-bottom: 16px;
}
.bm-card-lg p {
  font-family: "Public Sans", sans-serif;
}
.bm-card-lg_header {
  border-radius: 12px 12px 0px 0px;
}
.bm-card-lg_header,
.bm-card-lg_body {
  padding: 16px 16px 0px 16px;
  flex-grow: 1;
}
.bm-card-lg_body a {
  margin-bottom: 24px;
}
.bm-card-lg_footer {
  flex-grow: 1;
  min-height: 66px;
  max-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 0px 0px 12px 12px;
}

/* CARD NAVY */
.bm-card-navy {
  font-size: 22px;
  text-align: center;
  color: #fff;
  background-color: var(--color-navy-main);
  transition: 0.3s ease;
}
.bm-card-navy:hover {
  background-color: var(--color-navy-dark);
  transition: 0.3s ease;
}

/* CARD HORIZONTAL - IMAGEN - TEXTO - BOTON */
.bm-card-horizontal {
  display: flex;
  max-width: 540px;
  font-family: "Public Sans", sans-serif;
  background-color: var(--color-white);
  height: 100%;
}
.bm-card-horizontal.border-card {
  padding: 2rem 1.5rem;
  text-align: center;
}
.bm-card-horizontal img {
  height: fit-content;
  margin: 1rem 0;
  max-height: 120px;
}
.bm-card-horizontal h4 {
  font-weight: 600;
  margin-bottom: 1rem;
}
.bm-card-horizontal h6 {
  margin-bottom: 1rem;
}
.bm-card-horizontal .bm-card-horizontal_info button {
  margin: 0;
}
.bm-card-horizontal.border-card {
  padding: 2rem 1.5rem;
  text-align: center;
}

/* MODULOS DE INFORMACIÓN */
.bm-module-info {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 6px 6px 15px 0px #0808083c;
}
.bm-module-info h4 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #fff;
}
.bm-module-info p {
  font-size: 1.25rem;
  padding-top: 1rem;
}
.bm-module-info img {
  padding-top: 1.5rem;
}
.bm-module-info [src]:last-child,
.bm-module-info a:last-child {
  margin-top: auto;
  padding-top: 1rem;
}

@media only screen and (min-width: 992px) {
  /* CARD HORIZONTAL */
  .vista-horizontal {
    flex-direction: row;
    align-items: center;
  }
  .vista-horizontal h4 {
    padding-bottom: 0;
    border-bottom: 0;
    border-right: 1px solid #fff;
  }
  .vista-horizontal p,
  .vista-horizontal img {
    padding-top: 0;
    padding-left: 1.5rem;
  }
  .bm-card-horizontal.border-card {
    padding: 1.5rem 2rem;
    text-align: start;
  }
  .bm-card-horizontal img {
    margin: 0;
    max-height: 200px;
  }
  .bm-card-horizontal .bm-card-horizontal_info {
    margin-left: 1.5rem;
  }
  .bm-card-lg_header {
    max-height: 90px;
  }
  .bm-card-lg_body {
    min-height: 110px;
  }
}
@media only screen and (min-width: 1200px) {
  .bm-bg-shape_left {
    background-image: url(../img/circular-left-shape.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: left -50px top 90px;
  }
  .bm-bg-shape_right {
    background-image: url(../img/circular-right-shape.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right -100px top 0px;
  }
  .bm-module-info h4 {
    font-size: 2rem;
  }
  .bm-module-info p {
    font-size: 1.5rem;
  }
  .bm-card-lg p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1400px) {
  .bm-bg-shape_left {
    background-position: left -10px top 90px;
  }
  .bm-bg-shape_right {
    background-position: right -10px top 0px;
  }
}
@media only screen and (min-width: 2200px) {
  .bm-bg-shape_left {
    background: none;
  }
  .bm-bg-shape_right {
    background: none;
  }
}
