header,
footer {
  height: 70px;
  padding: 12px 0;
  background-color: var(--color-navy-main);
  z-index: 99;
}
header .container-header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img,
footer img {
  max-height: 38px;
}
header .container-header a {
  display: none;
}

/* CONTROL DE IMG EN MOBILE Y DESKTOP */
.img-head-desktop {
  display: block;
}
.img-head-mobile {
  display: none;
}
/* CON HEADER FIX CAMBIA EL CONTROL DE IMG */
.fixed-btn .img-head-desktop {
  display: none;
}
.fixed-btn .img-head-mobile {
  display: block;
}
.fixed-btn {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
}
.fixed-btn a {
  display: block !important;
}
.fixed-btn .btn-navy-main-outline {
  font-size: 14px;
  padding: 6px 12px;
}

.fixed-btn .container-header {
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .fixed-btn .img-head-desktop {
    display: block;
  }
  .fixed-btn .img-head-mobile {
    display: none;
  }
  .fixed-btn {
    height: 80px;
    top: 0;
    bottom: none;
  }
  .fixed-btn .btn-navy-main-outline {
    font-size: 14px;
    padding: 12px 24px;
  }
}
